<!DOCTYPE html>
<html lang="en">
<%- include('common/header') %>
<body>
  <%- include('common/nav_bar') %>
  
    <!-- Header -->
  
      <!-- Footer -->
   
</body>
<%- include('common/script') %>
</html>